#info-panel {
  h3 {
    text-align: center;
    margin-bottom: 0;
  }
  #indicators {
    display: flex;
    justify-content: space-evenly;
    #indicator-total {
      color: darkgreen;
      background-color: aliceblue;
    }
    #indicator-average {
      color: darkmagenta;
      background-color: aliceblue;
    }
    #indicator-period {
      color: darkslateblue;
      background-color: aliceblue;
    }
  }
}
